:root {
    /*colors*/
    --grey-color: #F3F3F3;
    --dark-color: #2B3541;
    --yellow-color: #FBF138;
    --yellow-gradient: linear-gradient(to right, #FBF138 0%, #FDF9B6 45%)

}

html, body {
    height: 100%;
}

html {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    max-width: 1142px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid red;
    padding-left: 15px;
    padding-right: 15px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 92px;
    padding: 52px 0 28px 0;
}

.header-logo {
    display: block;
    width: 97px;
    height: 30px;
    background-image: url("../assets/icons/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 54px;
    align-items: center;
}

.header-nav-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--dark-color);
}

.header-contact {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: var(--dark-color);
}

.header-contact::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -16px;
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--yellow-color);
    border-radius: 50%;
}

/*hero*/
.hero {

}

.hero-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100vh - 110px);
    gap: 20px;
}

.hero-text {
    flex-basis: 60%;
}

.hero-title {
    text-transform: uppercase;
    font-size: clamp(26px, 4.5vw, 48px);
    line-height: 125%;
    font-weight: 700;

}

.hero-subtitle {
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
}

.hero-subtitle span:first-child {
    margin-right: 16px;
}

.hero-desc {
    max-width: 297px;
    padding-top: 20px;
    padding-left: 85px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}

.hero-desc p {
    padding-bottom: 40px;
}

.hero-btn {
    cursor: pointer;
    color: var(--dark-color);
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    padding: 20px 30px;
    background-color: var(--yellow-color);
    border: none;
    text-transform: uppercase;

}

.hero-bg {
    height: 100%;
    flex-basis: calc(40%);
    opacity: .2;
    background: linear-gradient(90deg, var(--yellow-color) 0%, rgba(253, 249, 282, 0.45) 145.23%);
}

.hero-icon {
    width: 52px;
    height: 55px;
    position: absolute;
    right: 1062px;
    bottom: 0;
}

.hero-bg-img {
    position: absolute;
    right: -173px;
    bottom: 0;
    width: 100%;
    max-width: 996px;
}

.schedule {
    color: var(--dark-color);
}

.schedule-wrapper {
    padding-top: 67px;
}

.schedule-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 39px;
}
.schedule-title h2{
    max-width: 307px;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
}
.schedule-title span{
    font-size: 28px;
    line-height: 120%;
    font-weight: 700;
}

.schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 309px 73px 281px;
    grid-template-areas: "a b c" "d b f" " d e f";
    gap: 20px;
}

.item {
    border: 1px solid var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
}
.item:hover{
    background: linear-gradient(#FDF9B6 45%, #FBF138 100%);;
}
.item-date{
    text-align: right;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}
.item-title{
    display: block;
    padding-top: 40px;
    font-size: 18px;
    line-height: 125%;
    font-weight: 700;
}
.item-img{
    width: 65px;
    height: 65px;
}
.item:nth-child(1) {
    grid-area: a;
}

.item:nth-child(2) {
    grid-area: b;
}

.item:nth-child(3) {
    grid-area: c;
}

.item:nth-child(4) {
    grid-area: d;
}

.item:nth-child(5) {
    grid-area: e;
}

.item:nth-child(6) {
    grid-area: f;
}
.mailing{
    background-color: var(--grey-color);
}
.mailing__wrapper{
    padding: 80px 0;
    margin: 0 auto;
    max-width: 660px;
}
.mailing_title{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: var(--dark-color);
    padding-bottom: 40px;
}
.form{
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form>div{
    flex-basis: calc(100% - 255px - 20px);
}
.agreement{
    display: flex;
    gap: 10px;
}
.email-input{

}
.agreement-btn{
    flex-basis: 255px;
    cursor: pointer;
    color: var(--dark-color);
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    padding: 20px 30px;
    background-color: var(--yellow-color);
    border: none;
    text-transform: uppercase;
    height: 65px;
}
.agreement-actions{
    display: flex;
    flex-direction: row;
    gap:2px;
}
.email-input{
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    max-width: 372px;
    width: 100%;
    border: none;
    padding: 19px 0;
    margin-right: 20px;
}
.email-input::placeholder {
    color: var(--dark-color);
    padding-left: 19px;
}
.checkbox:checked,
.checkbox:not(:checked){
    position: absolute;
    left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
    position: relative;
    padding-left: 35px;
    cursor:pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: #2B3541;
    border-radius: 2px;
    border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 1;
    left: 4px;
    top: calc(50% - 6px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 0;
    left: 4px;
    top: calc(50% - 6px);
    background-position: 0 -12px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before{
    border-radius: 100%;
}
.footer{
    background-color: var(--grey-color);
}
.form-wrapper{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.footer-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 92px;
    padding: 52px 0 28px 0;
}
.footer-info{
    font-size: 14px;
    color: var(--dark-color);
    font-weight: 400;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .schedule-grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,224px);
        grid-template-areas: "a b" "c d" "e f ";
    }
}